<section>
	<header class="major">
		<h2>Get in touch</h2>
	</header>
	<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
	<ul class="contact">
		<li class="icon solid fa-envelope"><a href="#">arigato.in@yahoo.com</a>
		</li>
		<li class="icon solid fa-home">Nagpur, Maharashtra</li>
	</ul>
	<ul class="icons">
		<li><a href="{{ site.twitter }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
		</li>
		<li><a href="{{ site.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
		</li>
		<li><a href="{{ site.snapchat }}" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
		</li>
		<li><a href="{{ site.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
		</li>
		<li><a href="{{ site.medium }}" class="icon brands fa-medium-m"><span class="label">Medium</span></a>
		</li>
	</ul>
</section>
