<nav id="menu">
	<header class="major">
		<h2>Top Categories</h2>
	</header>
	<ul>
		{% for freelancer in site.freelancers %}
			<li><a href="{{ site.baseurl }}{{ freelancer.url }}">{{ freelancer.title }}s</a>
			</li>
		{% endfor %}
	</ul>
</nav>

<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="{{ site.url }}">Home</a></li>
		<li><a href="{{ site.url }}/about">About Us</a></li>
		<li><a href="https://medium.com/@arigato" target="_blank">Blog</a></li>
		<li><a href="{{ site.url }}/terms">terms</a></li>
		<li><a href="{{ site.url }}/privacy">privacy</a></li>
		<li><a href="{{ site.url }}/signup">Become A Freelancer</a></li>
	</ul>
</nav>

<nav id="menu">
	<header class="major">
		<h2><li><a href="{{ site.url }}/help">Help Center</a></li></h2>
	</header>
	<ul>
		<li><a href="{{ site.url }}/update">Update Your Profile</a></li>
		<li><a href="{{ site.url }}/report">Report A Problem</a></li>
	</ul>
</nav>
