<nav id="menu">
	<header class="major">
		<h2>Top Cities</h2>
	</header>
	<ul>
		{% for city in site.data.cities %}
			<li><a href="{{ site.url }}/{{ city.name }}">{{ city.title }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>

<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="{{ site.url }}/about">About Us</a></li>
		<li><a href="https://medium.com/@arigato" target="_blank">Blog</a></li>
		<li><a href="{{ site.url }}/terms">terms</a></li>
		<li><a href="{{ site.url }}/privacy">privacy</a></li>
		<li><a href="{{ site.url }}/signup">Become A Freelancer</a></li>
	</ul>
</nav>
