---
layout: default
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>{{ page.title }}</h1>
      			<p>
      			{% assign freelancer = site.freelancers | where: 'name', page.category | first %}
		  	{% if freelancer %}
		    	<a href="{{ site.baseurl }}{{ freelancer.url }}">{{ freelancer.title }}</a>
		  	{% endif %}
		  	</p>
		</header>
		<p>{{ page.bio }}</p>
		<p><i class="fas fa-map-marker-alt"></i>  <b>{{ page.region }}</b></p>
		<ul class="actions">
			<li><a href="{{ page.hire }}" class="button big">Hire</a>
			</li>
		</ul>
		<ul class="icons">
			{% if page.twitter %}
			<li><a href="{{ page.twitter }}" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
			</li>
			{% endif %}
			{% if page.facebook %}
			<li><a href="{{ page.facebook }}" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
			</li>
			{% endif %}
			{% if page.snapchat %}
			<li><a href="{{ page.snapchat }}" target="_blank" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
			</li>
			{% endif %}
			{% if page.instagram %}
			<li><a href="{{ page.instagram }}" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
			</li>
			{% endif %}
			{% if page.youtube %}
			<li><a href="{{ page.youtube }}" target="_blank" class="icon brands fa-youtube"><span class="label">Youtube</span></a>
			</li>
			{% endif %}
			{% if page.linkedin %}
			<li><a href="{{ page.linkedin }}" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a>
			</li>
			{% endif %}
			{% if page.medium %}
			<li><a href="{{ page.medium }}" target="_blank" class="icon brands fa-medium-m"><span class="label">Medium</span></a>
			</li>
			{% endif %}
		</ul>
	</div>	
	{% if page.image %}
	<span class="image object">
		<img src="{{ page.image }}" alt="" />
	</span>
	{% endif %}
</section>
